.write-header{
    height: 140px;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #dadada;
   
}
.write-header-name{
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
}
.write-body-option{
    margin-top: 40px;
}
.write-body-option-title{
    height: 65px;
    border-top: 1px solid  #c6c6c6;
    border-bottom: 1px solid  #c6c6c6;
}
.write-body-option-category{
    height: 70px;
    border-bottom: 1px solid #c6c6c6;
}
.write-body-option-country{
    height: 70px;
    border-bottom: 1px solid #c6c6c6;
}
.write-body-option-address{
    height: 70px;
    border-bottom: 1px solid #c6c6c6;
}
.write-body-option-title-name-1{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-title-name-2{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-title-input{
    margin-left: 20px;
    height: 35px;
    width: 300px;
    font-size: 17px;
} 
.write-body-option-category-name-1{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-category-name-2{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-category-select{
    margin-left: 20px;
    width: 140px;
    height: 35px;
}
.write-body-option-country-name-1{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-country-name-2{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-country-select{
    margin-left: 20px;
    width: 140px;
    height: 35px;
}
.write-body-option-address-name-1{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-address-name-2{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-address-input{
    margin-left: 20px;
    height: 35px;
    width: 300px;
    font-size: 17px;
} 
.write-body-contents{
    margin-top: 100px;
    border-bottom: 2px solid #dadada;
}
.write-body-contents-name{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
}
.write-body-contents-box{
    display: flex;
    justify-content: center;
}
.write-body-contents-box-box{
    display: inline-block;
    width: 75%;
    height: 700px;
    margin-top: 50px;

}
.write-body-contents-box-input{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    font-size: 25px;
}
.write-footer{
    text-align: end;
    width: 90%;
    margin-top: 90px;
   
}
.write-footer-button{
    height: 40px;
    width: 70px;
    border: none;
    font-weight: bold;
    font-size: 17px;
}
.write-list-header{
    height: 120px;
    border-bottom: 1px solid #c6c6c6;  
}
.write-list-header-name{
    display: inline-block;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 40px;
}
.wrtie-list-header-menu{
    display: inline-block;
    position: absolute;
    right: 40px;
    margin-top: 47px;
}
.write-list-header-mypage{
    font-size: 21px;
    font-weight: bold;
    margin-right: 30px;
}
.write-list-header-write{
    font-size: 21px;
    font-weight: bold;
}
.write-list-body{
    text-align: center;
}
.write-list-body-list{
    margin-top: 50px;
    display: inline-block;
    width: 87%;
}
.write-list-body-list-name-box{
    height: 100px;
    text-align: start;
    border-bottom: 1px solid black;
}
.write-list-body-list-name{
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    margin-top: 35px;
}
.write-list-body-list-data{
    text-align: start;
}
.write-list-body-list-data-style{
    height: 52px;
}
.write-list-body-list-data-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #c6c6c6;
    
}
.write-list-body-list-data-style-no{
    margin-left: 30px; 
}
.write-list-body-list-data-style-like{
    flex-basis: 100px
}