.write-header{
    height: 140px;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #dadada;
   
}
.write-header-name{
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
}
.write-list-header-mypage{
    cursor: pointer;
}
.write-list-header-write{
    cursor: pointer;
}
.write-list-header-name{
    cursor: pointer;
}
.write-body-option{
    margin-top: 40px;
}
.write-body-option-title{
    height: 65px;
    border-top: 1px solid  #c6c6c6;
    border-bottom: 1px solid  #c6c6c6;
}
.write-body-option-category{
    height: 70px;
    border-bottom: 1px solid #c6c6c6;
}
.write-body-option-country{
    height: 70px;
    border-bottom: 1px solid #c6c6c6;
}
.write-body-option-address{
    height: 70px;
    border-bottom: 1px solid #c6c6c6;
}
.write-body-option-title-name-box{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-title-name{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-title-input{
    margin-left: 20px;
    height: 35px;
    width: 300px;
    font-size: 17px;
} 
.write-body-option-category-name-box{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-category-name{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-category-select{
    margin-left: 20px;
    width: 140px;
    height: 35px;
}
.write-body-option-country-name-box{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-country-name{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-country-select{
    margin-left: 20px;
    width: 140px;
    height: 35px;
}
.write-body-option-address-name-box{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 140px;
    border-right: 1px solid #c6c6c6;
    background-color: #dadada;
}
.write-body-option-address-name{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.write-body-option-address-input{
    margin-left: 20px;
    height: 35px;
    width: 300px;
    font-size: 17px;
} 
.write-body-contents{
    margin-top: 100px;
    border-bottom: 2px solid #dadada;
}
.write-body-contents-name{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
}
.write-body-contents-box{
    display: flex;
    justify-content: center;
}
.write-body-contents-box-box{
    display: inline-block;
    width: 75%;
    height: 700px;
    margin-top: 50px;

}
.write-body-contents-box-input{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    font-size: 25px;
}
.write-footer{
    text-align: end;
    width: 90%;
    margin-top: 90px;
   
}
.write-footer-button{
    height: 40px;
    width: 70px;
    border: none;
    font-weight: bold;
    font-size: 17px;
}
.write-list-header{
    height: 120px;
    border-bottom: 1px solid #c6c6c6;  
}
.write-list-header-name{
    display: inline-block;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 40px;
}
.wrtie-list-header-menu{
    display: inline-block;
    position: absolute;
    right: 40px;
    margin-top: 47px;
}
.write-list-header-mypage{
    font-size: 21px;
    font-weight: bold;
    margin-right: 30px;
}
.write-list-header-write{
    font-size: 21px;
    font-weight: bold;
}
.write-list-body{
    text-align: center;
}
.write-list-body-list{
    margin-top: 50px;
    display: inline-block;
    width: 87%;
}
.write-list-body-list-name-box{
    height: 100px;
    text-align: start;
    border-bottom: 1px solid black;
}
.write-list-body-list-name{
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    margin-top: 35px;
}
.write-list-body-list-data-box{
   width: 100%;
}
th,td{
   padding: 14px;
}

.write-list-body-list-data-style-no{
    margin-left: 30px; 
}
.write-list-body-list-data-style-like{
    margin-right: 30px;
}
.write-list-body-list-data-value{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #c6c6c6;
}
.write-list-body-list-data-data-no{
    margin-left: 35px; 
}
.write-list-body-list-data-data-like{
    flex-basis: 100px
}
.write-list-body-list-data-data-name{
    cursor: pointer;
}
.write-detail-header{
    height: 120px;
    border-bottom: 1px solid #c6c6c6;  
}
.write-detail-header-name{
    display: inline-block;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 40px;
    cursor: pointer;
}
.wrtie-detail-header-menu{
    display: inline-block;
    position: absolute;
    right: 40px;
    margin-top: 47px;
}
.write-detail-header-mypage{
    font-size: 21px;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;
}
.write-detail-header-write{
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}
.write-detail-body-user{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #c6c6c6;
}
.write-detail-body-user-box{
  display: inline-block;
  width: 70%;
  margin-top: 50px;
}
.write-detail-body{
  text-align: center;
}
.write-detail-body-user-img{
    height: 100px;
    border-radius: 40%;
}
.write-detail-body-user-name{
    font-size: 35px;
    margin-top: 10px;
}
.write-detail-body-user-infor{
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;

}
.write-detail-body-contents{
    margin-top: 10px;
    height: 500px;
    word-wrap: break-word;
    font-size: 23px;
}
.write-detail-body-like{
    text-align: end;
}
.write-detail-body-like-heart{
   font-size: 70px;
}
.write-detail-body-comment-box{
    display: inline-block;
    width: 70%;
    text-align: start;
    font-size: 25px;
    margin-top: 30px;
}
.write-detail-body-comment-writing{
    height: 57px;
    margin-top: 25px;
    text-align: end;
}
.write-detail-body-comment-input{
    width: 98%;
    height: 100%;
    font-size: 23px;
    color: #929292;  
    border-radius: 4px;
    border-color:#dadada;
    box-sizing: border-box;
}
.write-detail-body-comment-button{
    height: 40px;
    margin-top: 20px;
    text-align: end;
}
.write-detail-body-comment-button-register{
    height: 100%;
    width: 50px;
}
.write-detail-body-comment-user-comment-list-box{
    margin-top: 40px;
    border-bottom: 1px solid #dadada;
}
.write-detail-body-comment-user-comment-list{
    display: inline-block;
    width: 87%;
    margin-left: 40px;
}
.write-detail-body-comment-user-comment-list-profile-img{
    height: 55px;
    border-radius: 100%;
}
.write-detail-body-comment-user-comment-list-profile-date{
    display: inline-block;
    font-size: 18px;
    color: #929292;
    margin-left: 10px;
    position: relative;
    bottom: 7px;
}
.write-detail-body-comment-user-comment-list-profile-box{
   position: relative;
}

.write-detail-body-comment-user-comment-list-profile-name{
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    top: 0px;
    left: 65px;
}
.write-detail-body-comment-user-comment-list-contents-box{
    margin-top: 10px;
}
.write-detail-body-comment-user-comment-list-contents{
    margin-left: 5px;
}
.write-detail-body-comment-user-comment-list-reply{
    font-size: 20px;
    height: 80px;
    display: flex;
    align-items: flex-end;
    align-items: center;
    cursor: pointer;

}
.write-detail-body-comment-reply-comment-list-box-div{
    border-bottom: 1px solid #dadada;
}
.write-detail-body-comment-reply-comment-list-box{
    list-style: none;
    margin-top: 40px;
    margin-bottom: 1px solid #dadada;
    padding-left: 80px;
}

.write-detail-body-comment-reply-comment-list{
    height: 170px;
    border-bottom: 1px solid #dadada;
}
.write-detail-body-comment-reply-comment-list-profile{
    margin-top: 30px;
}
.write-detail-body-comment-reply-comment-list-profile-img{
    height: 55px;
    border-radius: 100%;
}
.write-detail-body-comment-reply-comment-list-profile-date{
    display: inline-block;
    font-size: 18px;
    color: #929292;
    margin-left: 10px;
    position: relative;
    bottom: 7px;
}
.write-detail-body-comment-reply-comment-list-profile-box{
   position: relative;
}
.write-detail-body-comment-reply-comment-list-profile-name{
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    top: 0px;
    left: 65px;
}
.write-detail-body-comment-reply-comment-list-contents-box{
    margin-top: 25px;
}
.write-detail-body-comment-reply-comment-list-contents{
    margin-left: 5px;
}
.write-detail-body-comment-reply-comment-input-box-div{
    height: 140px;
    display: flex;
    align-items: center;
}
.write-detail-body-comment-reply-comment-input-box{
    height: 57px;
    width: 100%;
    box-sizing: border-box;
}
.write-detail-body-comment-reply-comment-input{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   font-size: 23px;
   color: #929292;  
   border-radius: 4px;
   border-color:#dadada;
}
