.header{
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header{
  width: 300px;
}
.header_name{
  font-size: 55px;
}
.header_my_page{
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  margin-right: 30px;
}
.header_Login{
  font-weight: bold;
  font-size:21px;
  cursor: pointer;
}
.header_User{
  display: inline-block;
  margin-right: 50px;
  margin-top: 10px;
}
.body{
  height: 800px;
  border-bottom: 2px solid black;
}
.body_menual{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.body_menual_mypage{
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
.body_menual_write{
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.body_menual_write_list{
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.body_news{
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  border-bottom: 2px solid black;
}
.body_news_title{
  font-weight: bold;
  font-size: 25px;
}
.Login-header{
  height: 250px;
  text-align: center;
}
.Login-header-title{
  display: inline-block;
  cursor: pointer;
  font-size: 70px;
  margin-top: 170px;
}
.Login-body{
  height: 900px;
  text-align: center;
  
}
.Login-body-pannel{
  display: inline-block;
  width: 750px;
  height: 480px;
  margin-top: 50px;
  border: 2px solid #c6c6c6;
  border-radius: 10px;
}
@media screen and (max-width:750px) {
  .Login-body-pannel{
    display: inline-block;
    width: 90%;
    height: 420px;
    margin-top: 40px;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
  }
  .Login-header-title{
    display: inline-block;
    font-size: 90%;
    margin-top: 170px;
    cursor: pointer;
  }
}
.Login-body-ppanel{
  padding: 50px;
  height: 79%;
}
.Login-body-pannel-id{
  display: inline-block;
  width: 80%;
  height: 60px;
  border: 2px solid #dadada;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: start;
}
.Login-body-pannel-pwd{
  display: inline-block;
  width: 80%;
  height: 60px;
  border: 2px solid #dadada;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: start;
}
.Login-body-pannel-id-input{
  height: 90%;
  width: 86%;
  outline: 0;
  border: none;
  font-size: 18px;
}
.Login-body-pannel-pwd-input{
  height: 90%;
  width: 86%;
  outline: 0;
  border: none;
  font-size: 18px;
}
.Login-body-pannel-id-png{
  height: 30px;
  position: relative;
  left: 10px;
  top: 8px;
  cursor: pointer;
}
.Login-body-pannel-pwd-png{
  height: 30px; 
  position: relative;
  left: 10px;
  top: 8px;
  cursor: pointer;
}
.Login-body-pannel-button-name{
  height: 70px;
  width: 80%;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}
.Login-body-pannel-button{
  margin-top: 140px;
}
.Login-body-find-user{
  margin-top: 40px;
  margin-right: 40px;
}
.Login-body-find-user-id{
  font-size: 20px;
  cursor: pointer;
}
.Login-body-find-user-pwd{
  font-size: 20px;
  cursor: pointer;
}
.Login-body-find-user-membership{
  font-size: 20px;
  cursor: pointer;
}


