    .header_back {
    height: 100vh;
    background:linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ) 
    ,url('../public/trip.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .InHeaderTitle{
    display: flex;
    height: 200px;
    font-size: 70px;
    font-weight: bold;
    font-family:  serif;
    color: rgb(52, 42, 42);
    align-items: center;
  }
  .InHeaderIntro{
    display: flex;
    height: 300px;
    align-items: center;
    font-size: 60px;
    font-family: cursive;
  }
  .InHeaderFooter{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .InHeaderMenu{
    flex:0.5;
    display: flex;
    flex-direction: column;
  }
  .InHeaderMenuWrite{
    flex:1
  }
  .InHeaderMenuWriteButton{
    width:630px;
    height: 80px;
    border-radius: 10px;
    font-size: 22px;
    margin-left: 90px;
    background-color: #bee4b1;
    cursor: pointer;
    font-weight: bold;
  }
  .InHeaderMenuList{
    flex:1
  }
  .InHeaderMenuListButton{
    width:630px;
    height: 80px;
    border-radius: 10px;
    font-size: 22px;
    margin-left: 90px;
    background-color: #bee4b1;
    cursor: pointer;
    font-weight: bold;
  }
  .InHeaderMp{
    flex:1
  }
  .InHeaderMenuMpButton{
    width:630px;
    height: 80px;
    border-radius: 10px;
    font-size: 22px;
    margin-left: 90px;
    background-color: #bee4b1;
    cursor: pointer;
    font-weight: bold;
  }
  .InHeaderLogin{
    flex: 0.5;
    text-align: center;
  }
  .InHeaderLoginButton{
    margin-top: 140px;
    width: 200px;
    height: 70px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
  }
  .Login-header{
    height: 250px;
    text-align: center;
  }
  .Login-header-title{
    display: inline-block;
    cursor: pointer;
    font-size: 70px;
    margin-top: 170px;
  }
  .Login-body{
    height: 900px;
    text-align: center;
    
  }
  .Login-body-pannel{
    display: inline-block;
    width: 750px;
    height: 480px;
    margin-top: 50px;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
  }
  @media screen and (max-width:750px) {
    .Login-body-pannel{
      display: inline-block;
      width: 90%;
      height: 420px;
      margin-top: 40px;
      border: 2px solid #c6c6c6;
      border-radius: 10px;
    }
    .Login-header-title{
      display: inline-block;
      font-size: 90%;
      margin-top: 170px;
      cursor: pointer;
    }
  }
  .Login-body-contents{
    padding: 50px;
    height: 79%;
  }
  .Login-body-pannel-id{
    display: inline-block;
    width: 80%;
    height: 60px;
    border: 2px solid #dadada;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: start;
  }
  .Login-body-pannel-pwd{
    display: inline-block;
    width: 80%;
    height: 60px;
    border: 2px solid #dadada;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: start;
  }
  .Login-body-pannel-id-input{
    height: 90%;
    width: 86%;
    outline: 0;
    border: none;
    font-size: 18px;
  }
  .Login-body-pannel-pwd-input{
    height: 90%;
    width: 86%;
    outline: 0;
    border: none;
    font-size: 18px;
  }
  .Login-body-pannel-id-png{
    height: 30px;
    position: relative;
    left: 10px;
    top: 8px;
    cursor: pointer;
  }
  .Login-body-pannel-pwd-png{
    height: 30px; 
    position: relative;
    left: 10px;
    top: 8px;
    cursor: pointer;
  }
  .Login-body-pannel-button-name{
    height: 70px;
    width: 80%;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .Login-body-pannel-button{
    margin-top: 140px;
  }
  .Login-body-find-user{
    margin-top: 40px;
    margin-right: 40px;
  }
  .Login-body-find-user-id{
    font-size: 20px;
    cursor: pointer;
  }
  .Login-body-find-user-pwd{
    font-size: 20px;
    cursor: pointer;
  }
  .Login-body-find-user-membership{
    font-size: 20px;
    cursor: pointer;
  }
.body_news_contents{
  text-align: center;
  margin-top: 38px;
}

.body-news-contents-desc{
  height: 140px;
  margin-top: 70px;
  font-size: 18px;
}
.body-news-contents-time{
  font-size: 23px;
}
.mypage-header{
  height: 250px;
  border-bottom: 1px solid #c6c6c6;
}
.mypage-header-profile{
  border-radius: 40%;
  height: 120px;
  margin-top: 100px;
  margin-left: 25px;
}
.mypage-header-profile-update{
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: 30px;
}
.mypage-header-profile-update-name{
  height: 30px;
}
.mypage-header-profile-update-email{
  height: 30px;
  margin-left: 10px;
}
.mypage-header-profile-update-save{
  height: 33px;
  border: none;
  border: 1px solid #c6c6c6;
  margin-left: 8px
}
.mypage-header-name{
  display: inline-block;
  font-size: 30px;
  margin-left: 30px;
  position: relative;
  bottom: 20px;
  cursor: pointer;
}
.mypage-body{
  text-align: center;
}
.mypage-body-box{
  display: inline-block;
  width: 90%;
}
.mypage-body-box-menual{
  height: 80px;
  font-size: 25px;
  text-align: start;
  margin-top: 30px;
  border-bottom: 1px solid #c6c6c6;
}
.mypage-body-box-menual-write{
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}
.mypage-body-box-menual-like{
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;  
}
.mypage-body-box-data{
  margin-top: 10px;
  width: 100%;
}
.mypage-body-box-data-revise{
  border: none;
  border: 1px solid black;
  background-color: white;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.mypage-body-box-data-delete{
  border: none;
  border: 1px solid black;
  background-color: white;
  height: 30px;
  width: 50px;
  cursor: pointer;
  margin-left: 2px;
}